---
layout: default
---

<div class="row justify-content-center mb-4">
  <div class="col-lg-6">
<form>
<div class="input-group">
  <input class="form-control" type="text" id="search-query" name="q" placeholder="Search" autocomplete="off">
</div>
</form>
</div>
</div>

<section id="search-results" style="display: none;"> </section>

{% raw %}
<script id="search-results-template" type="text/mustache">
  <ul class="list-group mb-4">
  {{#entries}}
    <a class="list-group-item list-group-item-action" href="{{url}}">{{title}}</a>
  {{/entries}}
  </ul>
</script>
{% endraw %}

<div class="card-deck">
{% for category in site.categories %}
  <div class="card">
    <div class="card-header">
      {% capture category_name %}{{ category | first }}{% endcapture %}
      <h5 class="card-title mb-0" id="#{{ category_name | slugize }}">
        <a class="card-link" href="/category/{{ category_name }}" name="{{ category_name | slugize }}">{{ category_name }}</a>
      </h5>
    </div>
    <ul class="list-group list-group-flush">
          {% for post in site.categories[category_name] limit:3 %}
                <a class="list-group-item list-group-item-action" href="{{ site.baseurl }}{{ post.url }}">{{post.title}}</a>
          {% endfor %}
            <a class="list-group-item list-group-item-action" href="/category/{{ category_name }}" name="{{ category_name | slugize }}">More articles...</a>
        </ul>
  </div>
{% endfor %}
</div>

<script src="/js/search.min.js" type="text/javascript" charset="utf-8"></script>

<script type="text/javascript">
  $(function() {
    $('#search-query').lunrSearch({
      indexUrl  : '/js/index.json',           // url for the .json file containing search index data
      results   : '#search-results',          // selector for containing search results element
      template  : '#search-results-template', // selector for Mustache.js template
      titleMsg  : '<li class="list-group-item"><h5 class="mb-0">Search results</h5></li>',   // message attached in front of results (can be empty)
      emptyMsg  : '<p>Nothing found.</p>'     // shown message if search returns no results
    });
  });
</script>
