---
layout: default
---

{% if page.toc == true %}
<div class="row">
<div id="toc" class="col-md-3 article-index">
  	{% include toc.html html=content class="sticky-top.navbar.nav.flex-column.article-navbar" item_class="nav-item" link_class="nav-link.p-0.toc-link" %}
</div>

<div class="col-md-9 article-body" style="overflow:hidden;">
{% endif %}
<article>

  <header class="post-header">
    <h1 class="mt-0" itemprop="name headline">{{ page.title | escape }}</h1>
  </header>

  <div itemprop="articleBody">
    {{ content }}
  </div>

  <a href="{{ page.url | relative_url }}" hidden></a>

</article>
{% if page.toc == true %}
</div>
</div>
{% endif %}
