# Copyright (c) 2016-2018 Martin Donath <martin.donath@squidfunk.com>

# Permission is hereby granted, free of charge, to any person obtaining a copy
# of this software and associated documentation files (the "Software"), to
# deal in the Software without restriction, including without limitation the
# rights to use, copy, modify, merge, publish, distribute, sublicense, and/or
# sell copies of the Software, and to permit persons to whom the Software is
# furnished to do so, subject to the following conditions:

# The above copyright notice and this permission notice shall be included in
# all copies or substantial portions of the Software.

# THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
# IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
# FITNESS FOR A PARTICULAR PURPOSE AND NON-INFRINGEMENT. IN NO EVENT SHALL THE
# AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
# LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING
# FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS
# IN THE SOFTWARE.

# Project information
site_name: Bulwark Knowledgebase
site_description:
  A repository for information regarding the Bulwark Cryptocurrency project.
site_author: Bulwark Cryptocurrency
site_url: https://kb.bulwarkcrypto.com

# Repository
repo_name: bulwark-crypto/bulwark-kb
repo_url: https://github.com/bulwark-crypto/bulwark-kb
edit_uri: ""

# Copyright
copyright: "Copyright &copy; 2016 - 2018 Bulwark Cryptocurrency"

# Pages
nav:
  - "Home": "index.md"
  - "FAQs":
      - "Home": "FAQs/index.md"
      - "General FAQ": "FAQs/General-FAQ.md"
      - "Masternode FAQ": "FAQs/Masternode-FAQ.md"
      - "Masternode Issues": "FAQs/Masternode-Issues.md"
      - "Staking FAQ": "FAQs/Staking-FAQ.md"
  - "Guides":
      - "Home": "Guides/index.md"
      - "AppData Guide": "Guides/AppData-Guide.md"
      - "Flash SD Card Guide": "Guides/FlashSD-Card-Guide.md"
      - "Is my Masternode working?": "Guides/Is-My-Masternode-Working.md"
      - "Linux Build Guide": "Guides/Linux-Build-Guide.md"
      - "macOS Build Guide": "Guides/MacOS-Build-Guide.md"
      - "Masternode Installation": "Guides/Masternode-Installation.md"
      - "Masternode Refresh Guide": "Guides/Refresh-Guide.md"
      - "Multisend Setup Guide": "Guides/Multisend-Setup-Guide.md"
      - "NetBSD Build Guide": "Guides/NetBSD-build-guide.md"
      - "OpenBSD Build Guide": "Guides/OpenBSD-build-guide.md"
      - "Secure Home Node": "Guides/Secure-Home-Node.md"
      - "Staking Guide": "Guides/Staking-Guide.md"
      - "Staking Troubleshooting - CLI": "Guides/Staking-Troubleshooting-CLI.md"
      - "Staking Troubleshooting - GUI": "Guides/Staking-Troubleshooting-GUI.md"
      - "Wallet Syncing Issues": "Guides/Wallet-Syncing-Issues.md"
      - "Windows Build Guide": "Guides/Windows-Build-Guide.md"
      - "Windows Masternode": "Guides/Windows-Masternode.md"
  - "Information":
      - "Home": "Information/index.md"
      - "Accounts Explained": "Information/Accounts-Explained.md"
      - "Bootstrap": "Information/Bootstrap.md"
      - "Bulwark API Calls": "Information/Bulwark-API-Calls.md"
      - "Default Data Locations": "Information/Default-Data-Locations.md"
      - "Governance": "Information/Governance.md"
      - "Masternode Commands": "Information/Masternode-Commands.md"
      - "Masternode RPC Changes": "Information/Masternode-RPC-Changes.md"
      - "Reduce Traffic In Bulwark Core":
          "Information/Reduce-Traffic-in-Bulwark-Core.md"
      - "Running Bulwark": "Information/Running-Bulwark.md"
      - "SwiftTX Technical Information":
          "Information/SwiftTX-Technical-Information.md"
      - "TOR Support In Bulwark": "Information/TOR-Support-In-Bulwark.md"
  - "Links":
      - "Home": "Links/index.md"
      - "Official Links": "Links/Official-Links.md"
      - "Social Media Pages": "Links/Social-Media-Pages.md"
      - "Exchange List": "Links/Exchanges.md"

# Configuration
theme:
  name: "material"
  custom_dir: material

  # 404 page
  static_templates:
    - 404.html

  # Don't include MkDocs' JavaScript
  include_search_page: false
  search_index_only: true

  # Default values, taken from mkdocs_theme.yml
  language: en
  feature:
    tabs: true
  palette:
    primary: indigo
    accent: indigo
  font:
    text: Roboto
    code: Roboto Mono
  favicon: assets/images/favicon.png
  logo: assets/images/bulwark.png

# Customization
extra:
  social:
    - type: globe
      link: http://bulwarkcrypto.com
    - type: github-alt
      link: https://github.com/bulwark-crypto
    - type: twitter
      link: https://twitter.com/bulwarkcoin

# Extensions
markdown_extensions:
  - markdown.extensions.admonition
  - markdown.extensions.codehilite:
      guess_lang: false
  - markdown.extensions.def_list
  - markdown.extensions.footnotes
  - markdown.extensions.meta
  - markdown.extensions.toc:
      permalink: true
  - pymdownx.arithmatex
  - pymdownx.betterem:
      smart_enable: all
  - pymdownx.caret
  - pymdownx.critic
  - pymdownx.details
  - pymdownx.inlinehilite
  - pymdownx.keys
  - pymdownx.magiclink
  - pymdownx.mark
  - pymdownx.smartsymbols
  - pymdownx.superfences
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.tilde

# Google Analytics
google_analytics:
  - "UA-117434807-2"
  - "auto"
