@import "colors";
@import "~bootstrap-material-design/scss/bootstrap-material-design.scss";

/* Custom Sass/CSS goes below this line */

@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";

// Optional
@import "node_modules/bootstrap/scss/reboot";
@import "node_modules/bootstrap/scss/type";
@import "node_modules/bootstrap/scss/images";
@import "node_modules/bootstrap/scss/code";
@import "node_modules/bootstrap/scss/grid";

body {
  position:relative;
  height:100%;
  overflow: auto;
}

.post-header h1 {
    margin-top:60px;
    margin-bottom:60px;
}

.category-title h1 {
    margin-top:60px;
    margin-bottom:60px;
}

.card a {
    text-decoration: none;
}

.navbar {
    position: flex;
}

.toc-link.active {
  font-weight:bold;
  color: $blue-700;
}

.section-nav {
  margin-bottom: 0;
  padding-left: 0;
}

.card {
    border-radius: 3px;
}

.footer {
    margin: auto;
    max-width: 1100px;

    &a {
        text-decoration: none;
    }
}

.jumbotron {
    background-color: #64b5f6;
}

.jumbotron a {
    color: $white;

    &:hover {
        color: $blue-100;
    }
}

.jumbotron p {
    color: $white;
}

.navbar-brand {}

.article-index {
    float: left;
}
